h1{
	color:#d1b3ff;
	 border: 3px solid black;
	 background: #ffccb3;
}
h2.b {
	color:#66a3ff;
}
p.a {
color:#0000e6;
}
table, th, td {
  border: 1px solid purple;
}
area.c {
background:#80aaff;
border: 1px solid orange;
}
h2.d{
	color:#66a3ff;
}
h2.e{
	color:#66a3ff;
}
p.f{
	color:#66a3ff;
}
	